<div class="frame-2screen">
  <div class="overlap-group2">
    <div class="flex-row">
      <img class="x5464584-removebg-preview-1" src="5464584-removebg-preview-1.png" />
      <div class="overlap-group3">
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="sign-up">Sign Up</div>
        <div class="login">Login</div>
      </div>
    </div>
    <div class="overlap-group5">
      <div class="component-1">
        <div class="overlap-group">
          <div class="entreprise-account">
            <div class="entreprise-account-1">
              <br>
              Entreprise Account
            </div>
          </div>
        </div>
        <div class="overlap-group1">
          <div class="entreprise-account-2">
            <div class="entreprise-account-3">
              <br>
              Candidate Account
            </div>
          </div>
        </div>
      </div>
      <div class="overlap-group4">
        <img class="ellipse-1" src="ellipse-1.png" />
        <div class="forget-the-old-rules">Forget the old rules.You can have the best people</div>
        <h1 class="looking-for-a-new-job-join-us-now">Looking for a new job ?<br />Join us now..</h1>
      </div>
    </div>
  </div>
</div>